<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">DBMS</h1>

  <div class="col-lg-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login or Register</h5>
        <a href="/login" class="w-75 btn btn-lg btn-primary my-2">Login</a>
        <a href="/register" class="w-75 btn btn-lg btn-secondary">Register</a>
      </div>
    </div>
  </div>
</div>
