<div class="container py-5 col-xl-10 col-xxl-8 px-4">
  <div class="col-md-10 mx-auto col-lg-7">
    <form class="p-4 p-md-8 border rounded-3 bg-body-tertiary" action="/register" method="post">
      <h1 class="text-center mb-3">Register<i class="bi-person-fill-add"></i></h1>
      <%- include('./partials/message.ejs') %>
      <div class="form-floating mb-3">
        <input type="name" class="form-control" name="name" id="name" placeholder="Name" />
        <label for="name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="username" class="form-control" name="username" id="username" placeholder="Username" />
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="email" placeholder="example@email.com" />
        <label for="email">Email</label>
      </div>
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
          <label for="password">Password</label>
        </div>
        <span class="input-group-text" onclick="password_show_hide();">
          <i class="bi-eye-fill" id="show_eye"></i>
          <i class="bi-eye-slash-fill d-none" id="hide_eye"></i>
        </span>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <hr class="my-4" />
      <small class="text-body-secondary">Already have an account? <a href="/login">Login</a></small>
    </form>
  </div>
</div>
<script>
  function password_show_hide() {
    var password = document.getElementById('password');
    var show_eye = document.getElementById('show_eye');
    var hide_eye = document.getElementById('hide_eye');
    hide_eye.classList.remove('d-none');
    if (password.type === 'password') {
      password.type = 'text';
      show_eye.style.display = 'none';
      hide_eye.style.display = 'block';
    } else {
      password.type = 'password';
      show_eye.style.display = 'block';
      hide_eye.style.display = 'none';
    }
  }
</script>
