<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Lab 2 Webapp</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/services" class="waves-effect waves-light btn">
          Services
          <i class="material-icons right">miscellaneous_services</i>
        </a>
      </li>
      <li>
        <a href="about" class="waves-effect waves-light btn">
          About Us
          <i class="material-icons right">info</i>
        </a>
      </li>
      <li>
        <a href="contact" class="waves-effect waves-light btn">
          Contact Us
          <i class="material-icons right">contact_support</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
