<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Reasearch and Dev 2 Webapp</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/student" class="waves-effect waves-light btn">
          Add Student
          <i class="material-icons right">person</i>
        </a>
      </li>
      <li>
        <a href="/course" class="waves-effect waves-light btn">
          Add Course
          <i class="material-icons right">menu_book</i>
        </a>
      </li>
      <li>
        <a href="/staff" class="waves-effect waves-light btn">
          Add Staff
          <i class="material-icons right">supervisor_account</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
