<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <br />
    <div class="container">
      <a class="btn" href="/studentsView">View Students</a>
      <a class="btn" href="/coursesView">View Courses</a>
      <a class="btn" href="/staffView">View Staff</a>
    </div>
  </body>
</html>
