<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <div class="row">
        <form class="col s12" action="/staff" method="post">
          <div class="input-field col-sm-6">
            <i class="material-icons prefix">person</i>
            <input id="staff_ID" type="number" class="validate" name="staff_ID" />
            <label for="staff_ID">Staff ID</label>
          </div>
          <div class="input-field col-sm-6">
            <input id="fname" type="text" class="validate" name="fname" />
            <label for="fname">First Name</label>
          </div>
          <div class="input-field col-sm-6">
            <input id="lname" type="text" class="validate" name="lname" />
            <label for="lname">Last Name</label>
          </div>
          <div class="input-field col-sm-6">
            <input id="contact" type="text" class="validate" name="contact" />
            <label for="contact">Contact</label>
          </div>
          <div class="input-field col-sm-6">
            <input id="address" type="text" class="validate" name="address" />
            <label for="address">Address</label>
          </div>
          <div class="input-field col-sm-6">
            <input id="gender" type="text" class="validate" name="gender" />
            <label for="gender">Gender</label>
          </div>
          <div>
            <button class="btn">Add Staff Member</button>
          </div>
        </form>
        <div class="col-m" style="margin-top: 10px">
          <a class="btn" href="/staffView">View Staff</a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
