<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<%= JSON.stringify(item) %>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">CRUD APP</a>
            <ul uid="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/add-item">Add Item</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-item">
                <div>Marcello <a href="#" class="secondary-content"><i class="material-icons">send</i> </a> </div>
            </li>
            <li class="collection-item">
                <div>Amalan <a href="#" class="secondary-content"><i class="material-icons">send</i> </a> </div>
            </li>
            <li class="collection-item">
                <div>Evan <a href="#" class="secondary-content"><i class="material-icons">send</i> </a> </div>
            </li>
            <li class="collection-item">
                <div>Calvin <a href="#" class="secondary-content"><i class="material-icons">send</i> </a> </div>
            </li>
            <li class="collection-item">
                <div>Pat <a href="#" class="secondary-content"><i class="material-icons">send</i> </a> </div>
            </li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>