<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <ul class="collection with-header">
        <% if(item.length > 0) { item.forEach(item => { %>
        <li class="collection-item">
          <div>
            <%= item.name %> | $<%= item.price %>
            <a href="#" class="secondary-content"
              ><i class="material-icons">delete</i><i class="material-icons">edit</i>
            </a>
          </div>
        </li>
        <% }); } %>
      </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
